*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
    background-color: #292929;

    
}
body{
   }
header {
    border:solid black 2px;
    width: 100%;
    min-width: 40px;
    min-height: 55vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    font-size: 1.6rem;
    background-color: black;
    color:white;
}


ul {
    position: fixed;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 9vh;
    background-color: rgb(0, 0, 0);
    border: rgb(0, 0, 0) 0.4px solid;
}
li {
    list-style: none;
    height: 1.7rem;
    padding: 2rem;
    
}

.link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: flex;    
    align-items: center;
    justify-content: center;
}

.primero {
    width: 100%;
    height: 30vh;
    text-align: center;
    font-size: 2.8rem;
}

main{
    background-color: #292929;


}

.proyectos {
    width: 100%;
    text-align: center;
    font-size: 2.2rem;
    margin-top: 2rem;
    background-color: #292929;
    color: white;
}

aside {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    width: 100%;
    height:100%;
    background-color: #292929;
    color: rgb(255, 255, 255);
    
}

.contenido1{
    width: 55rem;
    height: 30rem;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    line-height: 4.0rem;
    padding: 3rem;
    
}

.calculadora{
    text-align: justify;
    line-height: 1.9rem;
    color: rgb(175, 175, 175);

}
.contenido2 {
    width: 35rem;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

figure{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    width: 35rem;
    height: 100%;
}
img{
    height:18rem;
    width: 35rem;
    border-radius: 2%;
    
    
}






@media (max-width:600px){
    ul {
        
    }
  li {
      justify-content: flex-start;
  }
    .primero {
        font-size: 1.8rem;
        height: 30vh;
        font-weight: bold;
    }

    .aside {
        
    }
    .contenido1{
        width: 100%;
    }

    .contenido2 {
        width: 100%;
    }
}
