*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
    background-color: #292929;
    font-family: 'Gluten', cursive;
    
}

header {
    height: 10vh;
    border:solid black 2px;
    width: 100%;
    min-width: 40px;
    min-height: 55vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    font-size: 1.6rem;
    background-color: rgb(0, 0, 0);
    color:white;
}


ul {
    position: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 9vh;
    background-color: black;
    border: rgb(0, 0, 0) 0.4px solid;
    margin: -0.2rem;
}
li {
    list-style: none;
    height: 1.7rem;
    padding: 2rem;
    height: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    
}

.link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: flex;    
    align-items: center;
    justify-content: center;
    width: 9rem;
    height: 4rem;
}
.link:hover {
    background-color: white;
    color: black;
}

.primero {
    width: 100%;
    height: 30vh;
    text-align: center;
    font-size: 3.0rem;
}

main{
    background-color: #292929;
    height: 45vh;
    
}


.proyectos {
    width: 100%;
    text-align: center;
    font-size: 3.1rem;
    margin-top: 2rem;
    background-color: #292929;
    color: white;
}

aside {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    width: 100%;
    height:100%;
    background-color: #ff000000;
    color: rgb(255, 255, 255);
    
}


.contenido1 {
    width: 35rem;
    background-color: rgba(170, 34, 34, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

figure{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    width: 35rem;
    height: 100%;
}
img{
    height:23rem;
    width: 20rem;
    border-radius: 2%;
}
.calpor {
    color: white;
}
.contenido2 {
    background-color: rgba(112, 87, 87, 0);
    width: 55rem;
    height: 10rem;
    font-size: 1.7rem;
    text-align: justify;
    color: rgb(175, 175, 175);
}
article {
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    flex-wrap: wrap;
}
.article2{
    background-color: rgba(13, 13, 204, 0);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    flex-wrap: wrap;
}

.contenido3 {
    width: 35rem;
    background-color: rgba(182, 17, 17, 0);
}
.img_contenido3{
    width: 20rem;
    height: 23rem;
}
.calarea{
    color: white;
    text-align: justify;
}
.contenido4 {
    background-color: rgba(112, 87, 87, 0);
    width: 55rem;
    height: 10rem;
    font-size: 1.7rem;
    text-align: justify;
    color: rgb(175, 175, 175);
    
}
.contenido5 {
    width: 35rem;
    background-color: rgba(248, 0, 0, 0);
}
.img_contenido5{
    width: 20rem;
    height: 23rem;
}
.contenido6 {
    background-color: rgba(112, 87, 87, 0);
    width: 55rem;
    height: 10rem;
    font-size: 1.7rem;
    text-align: justify;
    color: rgb(175, 175, 175);
}
.titulo6{
    color: white;
}

.article3{
    background-color: rgba(226, 0, 0, 0);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -7rem;
}
.sobremi{
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    text-align: center;
    font-size: 3.1rem;
}
.contenido7{
    margin-top: 15rem;
    font-size: 1.7rem;
    color: rgb(175, 175, 175);
    background-color: rgba(240, 128, 128, 0);
    width: 70vw;

}
.parrafomi{
    margin-top: 5rem;
    text-align: justify;
    width: 100%;
}
@media (max-width:600px){
  ul{
      width: 100%;
  }
  li {
      justify-content: flex-start;
  }
    .primero {
        font-size: 1.8rem;
        height: 25vh;
        font-weight: bold;
    }
    .proyectos {
        font-size: 2.5rem;
    }

    .contenido1 {
        margin-top: 3.5rem;
    }
    img{
        height:16rem;
        width: 31rem;
        border-radius: 2%;
    }
    .contenido2{
        margin-top: 2rem;
        border-bottom: solid 1px white;
        height: 13rem;
    }
    .contenido3{
        margin-top: 9rem;
    }
    .contenido4{
        margin-top: 2rem;
        border-bottom: solid 1px white;
        height: 13rem;
    }
    .contenido5{
        margin-top: 22rem;
    }
    .contenido6{
        margin-top: 2rem;
        border-bottom: solid 1px white;
        height: 13rem;
    }
    .contenido7 {
        margin-top: 43rem;
    }
}
