*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
}
body{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
header {
    border:solid black 2px;
    height: 15vh;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left:3rem;
    margin-top: 4rem;
}



ul {
    display: flex;
    justify-content: space-between;
    width: 20vw;
    padding-right: 0rem;
    flex-wrap:wrap;
}
li {
    list-style: none;
    
}

.link {
    text-decoration: none;
    color: black;
    
    display: flex;    
    align-items: center;
    justify-content: center;
}
.link:hover{
    background-color: gray;
}