*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
    background-color: #292929;
    font-family: 'Poppins', sans-serif;}

header {
    height: 10vh;
    border:solid black 2px;
    width: 100%;
    min-width: 40px;
    min-height: 55vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    font-size: 1.6rem;
    background-color: rgb(0, 0, 0);
    color:white;
}


ul {
    position: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 9vh;
    background-color: black;
    border: rgb(0, 0, 0) 0.4px solid;
    margin: -0.2rem;
}
li {
    list-style: none;
    height: 1.7rem;
    padding: 2rem;
    height: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    
}

.link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: flex;    
    align-items: center;
    justify-content: center;
    width: 9rem;
    height: 4rem;
}
.link:hover {
    background-color: white;
    color: black;
}

.primero {
    width: 100%;
    height: 30vh;
    text-align: center;
    font-size: 3.0rem;
}

main{
    background-color: #292929;
    height: 45vh;
    
}


.proyectos {
    width: 100%;
    text-align: center;
    font-size: 3.1rem;
    margin-top: 2rem;
    background-color: #292929;
    color: white;
}

aside {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    width: 100%;
    height:100%;
    background-color: #ff000000;
    color: rgb(255, 255, 255);
    
}


.contenido1 {
    width: 45rem;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

figure{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 0, 0, 0);
    width: 35rem;
    height: 100%;
}
img{
    width: 32rem;
    height: 19rem;
    border-radius: 1%;
}
.calpor {
    color: white;
}
.contenido2 {
    background-color: rgba(112, 87, 87, 0);
    width: 55rem;
    height: 13rem;
    font-size: 1.7rem;
    text-align: justify;
    color: rgb(175, 175, 175);
    border-bottom: solid 1px white;

}
article {
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    flex-wrap: wrap;
}
.article2{
    background-color: rgba(13, 13, 204, 0);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    flex-wrap: wrap;
}

.contenido3 {
    width: 45rem;
    background-color: rgba(211, 205, 205, 0);
    display: flex;
    justify-content: center;
}
.img_contenido3{
    width: 32rem;
    height: 19rem;
}
.calarea{
    color: white;
    text-align: justify;
}
.contenido4 {
    background-color: rgba(112, 87, 87, 0);
    width: 55rem;
    height: 13rem;
    font-size: 1.7rem;
    text-align: justify;
    color: rgb(175, 175, 175);
    border-bottom: solid 1px white;

    
}
.contenido5 {
    width: 45rem;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
}
.img_contenido5{
    width: 32rem;
    height: 19rem;
}
.contenido6 {
    background-color: rgba(112, 87, 87, 0);
    width: 55rem;
    height: 13rem;
    font-size: 1.7rem;
    text-align: justify;
    color: rgb(175, 175, 175);
    border-bottom: solid 1px white;
}
.titulo6{
    color: white;
}

.article3{
    background-color: rgba(226, 0, 0, 0);
    width: 100%;
    height: 60rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -9rem;
}
.sobremi{
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    text-align: center;
    font-size: 3.1rem;
    margin-top: -40rem;
}
.contenido7{
    margin-top:10rem;
    font-size: 1.7rem;
    color: rgb(175, 175, 175);
    background-color: rgba(240, 128, 128, 0);
    width: 65vw;
    height: 40rem;
    line-height: 2rem;

}

.platzi {
    color: rgb(18, 167, 18);
    font-weight: bold;
}

.canal {
    text-decoration: none;
    color: red;
}


.iio {
    width: 100%;
}
.io {
    width: 26rem;
    height: 20rem;
    margin-top: -10rem;
}
.parrafomi{
    margin-top: 28rem;
    text-align: justify;
    width: 100%;
    background-color: rgba(90, 90, 109, 0);
    height: 45rem;
}


footer{
    margin-top: 31rem;
    background-color: rgb(0, 0, 0);
    height: 9rem;
    padding: 0;
    position: relative;
    display: flex;
    align-items: center;
}

.contenido8{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(251, 56, 56, 0);
    height: 7rem;
    color: white;
    flex-wrap: wrap;
}
.opcion8{
    background-color: rgba(128, 128, 37, 0);
}

.ops {
    background-color: rgba(2, 2, 226, 0);
    font-size: 1.3rem;
    width: 12.5rem;
    height: 3rem;
}


.hojadevida {
    text-decoration: none;
    color: white;
    font-size: 2.4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logot{
    height: 4rem;
    width: 4rem;
}


.github{
    height: 3rem;
    width: 3rem;
    background-color: rgba(255, 255, 255, 0);
}
.tik{
    height: 3rem;
    width: 3rem;
}


@media (max-width:600px){
  ul{
      width: 100%;
      height: 4rem;
  }
  li {
      justify-content: flex-start;
  }
    .primero {
        font-size: 1.8rem;
        height: 25vh;
        font-weight: bold;
    }
    .proyectos {
        font-size: 2.5rem;
    }

    .contenido1 {
        margin-top: 3.5rem;
    }
  
    .contenido2{
        margin-top: 2rem;
        border-bottom: solid 1px white;
        height: 13rem;
    }
    .contenido3{
        margin-top: 13rem;
    }
    .contenido4{
        margin-top: 2rem;
        border-bottom: solid 1px white;
        height: 13rem;
    }
    .contenido5{
        margin-top: 25.5rem;
    }
    .contenido6{
        margin-top: 2rem;
        border-bottom: solid 1px white;
        height: 13rem;
    }
    .contenido7 {
        margin-top: 48rem;
        width: 100%;
    }


    footer{
        margin-top: 130rem;
        height: 29rem;
        display: flex;
        justify-content: center;
        background-color: rgb(0, 0, 0);
    }
   .contenido8{
    display: inline-block;
    height: 28rem;
    background-color: rgba(128, 255, 0, 0);

   }
   .ops {
       width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3rem;
        margin-top: 1rem;
    }

}
